{% extends 'base.html' %}

{% block title %}Добавление устройства{% endblock %}

{% block body %}
<form method="post" class="container pt-4 my-emd-5 pt-md-5 border-top">
    <input type="text" name="name" id="title" class="form-control" placeholder="Название"><br>
    <input type="text" name="room" id="room" class="form-control" placeholder="Комната"><br>
    <input type="text" name="ip" id="ip" class="form-control" placeholder="IP Адрес"><br>
    <!-- <input type="text" name="addresses" id="addresses" class="form-control" placeholder="Допустимые пути"><br> -->
    <input type="submit" class="btn btn-success", value="Добавить"><br>
</form>
{% endblock %}
{% extends 'base.html' %}

{% block title %}Добавление устройства{% endblock %}

{% block body %}
<form method="post" class="container pt-4 my-emd-5 pt-md-5 border-top">
    <input type="text" name="name" id="title" class="form-control" placeholder="Название"><br>
    <input type="text" name="room" id="room" class="form-control" placeholder="Комната"><br>
    <input type="text" name="ip" id="ip" class="form-control" placeholder="IP Адрес"><br>
    <!-- <input type="text" name="addresses" id="addresses" class="form-control" placeholder="Допустимые пути"><br> -->
    <input type="submit" class="btn btn-success", value="Добавить"><br>
</form>
{% endblock %}