{% extends 'base.html' %}

{% block title %}Настройки{% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="shadow p-3 mb-5 bg-body rounded">
        {% for key, value in settings.items() %}
        {% if 'VA_CMD_LIST' in key %}
        <div class="container mt-5 form">
            <p>VA_CMD_LIST</p>
            {% for key, value in value.items() %}
            <form method="post" class="row">
                <div class="col">
                    <input type="text" class="form-control" name="key" id="key" value="{{ key }}">
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="value" id="value" value="{{ value }}">
                </div>
                <div class="col">
                    <input type="submit" class="btn btn-success" value="Изменить">
                </div>
            </form><br>
            {% endfor %}
        </div><br>
        {% else %}
        <form method="post" class="row">
            <div class="col">
                <input type="text" class="form-control" name="key" id="key" value="{{ key }}">
            </div>
            <div class="col">
                <input type="text" class="form-control" name="value" id="value" value="{{ value }}">
            </div>
            <div class="col">
                <input type="submit" class="btn btn-success" value="Изменить">
            </div>
        </form><br>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}